body {
    background-color: #F9F9F9;
    border: hidden;
    width:98%;
    padding:1%;
    margin: 3%;
    font-family: "Times New Roman", Times, serif;
}
h1 {

}
h2 {

}
p {

}
.nav {

}
.footer {

}